<%- include header %>

  <link rel="stylesheet" href="/stylesheets/index.css"/>

  <div class="flex-container animated bounce">
    <div id="tab" class="flex-children">
      <span>注册</span>
      <span>登录</span>
    </div>
    <div class="flex-children">
      sss
    </div>
    <div class="no-active flex-children">
      aaa
    </div>
  </div>
<%- include footer %>